body {
  font-style: neue-haas-grotesk-display,sans-serif;
}

.mr_20 {
  margin-right: 20px;
}
.ml_30{
  margin-left: 30px
}

.pr_1 {
  padding-right: 1rem;
}

.pl_1 {
  padding-left: 1rem;
}


header {
  height: 500px;
  color: BLACK;
  position: relative;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header a {
  color: black;
}

nav {
  height: 80px;
  line-height: 80px;
  background: white
}

nav a {
  padding: 0 10px;
}

.header_logo>img {
  height: 150px
}

.header_menu {
  text-align: right;
}

.list_inline li, .header_langs li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

.header_menu, .header_langs {
  font-size: 0.70rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header_langs li:not(:last-child) a {
  border-right: 1px solid white;
}

.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white
}

h1 {
  font-size: 2.5rem;
}

.hero_text p {
  margin: 20px 0 30px 0;
}

.hero_text img {
  height: 50px;
}

.store {
  width: 25%
}

.header_logo {
  text-align: center;
}

.logo_img {
  width: 40%
}

/ header / / main / #models {
  padding: 2rem;
}

#models .card {
  text-align: center;
background-color: #fafafa;
margin-top: 10%;
margin-left: 5%;
width: 90%;
margin-bottom: 10%;
}
}

#models .card h2 {
  padding-top: 80px;
}

#models .card img {
  max-width: 100%;
}

.old_man {
  height: 500px;
  background-image: url(../img/oldman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.iphone{
  width: 250PX;
  height: 100%;
  transform: translate(30%, -75%);
  MARGIN-BOTTOM: -75%;
}
#smartphone > div > div {
  margin-top: 5%
}

#smart_mobility> .container >.row{
  height: 300px;
  background-image: url(../img/scooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  margin-bottom: 1%;

}
#smart_mobility > div > div > div {
    width: 50.5%;
    font-size: 1.5em;
    margin-top: 5%;
}
.app{
  background: #394C5D;
  text-align: center;
  color: white
}



#app > div > div > div > h2,h3,.phone{
  margin-top: 5%;

}
.find_us{
  height: 579px;
  background-image: url(../img/city.7c8c928.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white
}
#app > div > div > div.col-lg-6.app > .card{
  width: 100%;
  background: #394C5D;
  margin-bottom: 5%
}
#app>.container>.row>.col-lg-6{
    border: 5px solid white;
}
#family{
  height: 200px;
  background: grey;
  text-align: center;
  margin-bottom:15px
}
#family>.row>.col-lg-12>h2{

  background: white;
  width: 15%;
  margin-left: 42%
}



footer {
  margin-top:25px
  height: 500px;
  color: white;
  background-color: black;
  padding: 2%
}
footer ul li {
  list-style: none;
  margin-bottom: 5px
}
footer .container .row .col_3_lg:first-child {
  text-align: right;
}
footer img {
  height: 40px;


}
footer .col_12_lg.loghi {

  text-align: center;

}
.footer_hr{
  margin: 25px 0;
}

.footer_logo{
  width: 35%;
  background: white;
  color: white;
}
